@use 'sass:map';

/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
  @return map.merge(
      $palette,
      (
        error: (
          0: #000000,
          10: #410002,
          20: #690005,
          25: #7e0007,
          30: #93000a,
          35: #a80710,
          40: #ba1a1a,
          50: #de3730,
          60: #ff5449,
          70: #ff897d,
          80: #ffb4ab,
          90: #ffdad6,
          95: #ffedea,
          98: #fff8f7,
          99: #fffbff,
          100: #ffffff,
        ),
      )
  );
}

/// Black color palette to be used as primary or tertiary palette.
$black-palette: _patch-error-palette((
  0: #000000,
  10: #121212,
  20: #1e1e1e,
  25: #2a2a2a,
  30: #333333,
  35: #404040,
  40: #4d4d4d,
  50: #5c5c5c,
  60: #6e6e6e,
  70: #909090,
  80: #b0b0b0,
  90: #d0d0d0,
  95: #e8e8e8,
  98: #f5f5f5,
  99: #fcfcfc,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #1a1a1a,
    20: #2e2e2e,
    25: #393939,
    30: #444444,
    35: #505050,
    40: #5c5c5c,
    50: #707070,
    60: #8a8a8a,
    70: #a5a5a5,
    80: #c0c0c0,
    90: #e0e0e0,
    95: #efefef,
    98: #f9f9f9,
    99: #fdfdfd,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1b,
    20: #303030,
    25: #3c3c3c,
    30: #474747,
    35: #535353,
    40: #5f5f5f,
    50: #757575,
    60: #909090,
    70: #ababab,
    80: #c7c7c7,
    90: #e3e3e3,
    95: #f2f2f2,
    98: #fafafa,
    99: #fefefe,
    100: #ffffff,
    // Additional neutral shades
    4: #0a0a0a,
    6: #0f0f0f,
    12: #1c1c1c,
    17: #272727,
    22: #323232,
    24: #383838,
    87: #dddddd,
    92: #ebebeb,
    94: #f0f0f0,
    96: #f5f5f5,
  ),
  neutral-variant: (
    0: #000000,
    10: #1c1c1c,
    20: #323232,
    25: #3d3d3d,
    30: #484848,
    35: #545454,
    40: #606060,
    50: #767676,
    60: #919191,
    70: #acacac,
    80: #c8c8c8,
    90: #e4e4e4,
    95: #f3f3f3,
    98: #fbfbfb,
    99: #fefefe,
    100: #ffffff,
  ),
));
